html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
.wrapper {
  width: 100%;
  height: 100%;
  min-height: 100%;
  background-image: url(/site-imgs/main-image.jpeg);
  background-attachment: fixed;
}
@media (max-width: 500px) {
  .wrapper {
    background-size: cover;
  }
}
.wrapper .top-bar {
  width: 100vw;
  height: 150px;
  background-color: #ffffff88;
  display: flex;
}
@media (max-width: 500px) {
  .wrapper .top-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.wrapper .top-bar .logo-text {
  width: 18%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper .top-bar .logo-text h1 {
  font-size: 3.5rem;
  font-family: 'Work Sans', serif;
  padding-left: 70px;
  text-decoration: underline;
}
@media (max-width: 500px) {
  .wrapper .top-bar .logo-text h1 {
    padding: 0;
    margin-top: 20px;
  }
}
.wrapper .top-bar .links-container {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 500px) {
  .wrapper .top-bar .links-container {
    justify-content: space-between;
    width: 100%;
  }
}
.wrapper .top-bar .links-container a {
  font-size: 2.4rem;
  text-decoration: none;
  color: black;
}
@media (max-width: 500px) {
  .wrapper .top-bar .links-container a {
    padding: 0 20px;
  }
}
.wrapper .top-bar .links-container a:hover {
  color: #534B52;
}
.wrapper .bottom-container {
  padding: 100px 140px;
  color: white;
}
@media (max-width: 500px) {
  .wrapper .bottom-container {
    padding: 50px 0 80px 50px;
  }
}
.wrapper .bottom-container .text-container {
  width: 70%;
  opacity: 0.7;
}
@media (max-width: 500px) {
  .wrapper .bottom-container .text-container {
    width: 90%;
  }
}
.wrapper .bottom-container .text-container .title-container {
  font-size: 5rem;
  padding-bottom: 20px;
}
.wrapper .bottom-container .text-container .para-txt {
  font-size: 1.8rem;
}
.wrapper .bottom-container .text-container .para-txt p {
  padding: 20px 0;
}
.wrapper .bottom-container .text-container button {
  margin-top: 45px;
  width: 40%;
  height: 50px;
  background-color: white;
  border: none;
  font-size: 2rem;
  font-weight: bold;
  font-family: inherit;
  border-radius: 3px;
}
@media (max-width: 500px) {
  .wrapper .bottom-container .text-container button {
    width: 100%;
    margin-top: 30px;
  }
}
.wrapper .bottom-container .text-container button:hover {
  background-color: #84828F;
}
.aboutwrapper {
  width: 100%;
  height: 100%;
  min-height: 100%;
  background-image: url(/site-imgs/about-bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  /* end of page-content */
}
.aboutwrapper .top-bar {
  width: 100vw;
  height: 150px;
  background-color: #ffffff88;
  display: flex;
}
@media (max-width: 500px) {
  .aboutwrapper .top-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.aboutwrapper .top-bar .logo-text {
  width: 18%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.aboutwrapper .top-bar .logo-text h1 {
  font-size: 3.5rem;
  font-family: 'Work Sans', serif;
  padding-left: 70px;
  text-decoration: underline;
}
.aboutwrapper .top-bar .logo-text h1 a {
  color: black;
}
@media (max-width: 500px) {
  .aboutwrapper .top-bar .logo-text h1 {
    padding: 0;
    margin-top: 20px;
  }
}
.aboutwrapper .top-bar .links-container {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 500px) {
  .aboutwrapper .top-bar .links-container {
    justify-content: space-between;
    width: 100%;
  }
}
.aboutwrapper .top-bar .links-container a {
  font-size: 2.4rem;
  text-decoration: none;
  color: black;
}
@media (max-width: 500px) {
  .aboutwrapper .top-bar .links-container a {
    padding: 0 20px;
  }
}
.aboutwrapper .top-bar .links-container a:hover {
  color: #534B52;
}
.aboutwrapper .page-content {
  display: flex;
  /* end of navcontent */
}
.aboutwrapper .page-content .navcontent {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 65px;
}
@media (max-width: 500px) {
  .aboutwrapper .page-content .navcontent {
    flex-direction: column;
  }
}
.aboutwrapper .page-content .navcontent .text-content {
  width: 35%;
  margin-top: 180px;
  color: #000000;
  font-size: 2rem;
  font-weight: bold;
}
.aboutwrapper .page-content .navcontent .text-content p {
  margin-bottom: 50px;
}
.aboutwrapper .page-content .navcontent .profile-card {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.aboutwrapper .page-content .navcontent .profile-card .profile-img1 {
  height: 150px;
  width: 150px;
  background-image: url(/site-imgs/jon-s.JPG);
  background-size: cover;
  border: #534B52 solid 8px;
}
@media (max-width: 500px) {
  .aboutwrapper .page-content .navcontent .profile-card .profile-img1 {
    width: 70%;
    height: 400px;
    margin: 20px 0;
  }
}
.aboutwrapper .page-content .navcontent .profile-card .profile-img2 {
  height: 150px;
  width: 150px;
  background-image: url(/site-imgs/kayla-c.JPG);
  background-size: cover;
  border: #534B52 solid 8px;
}
@media (max-width: 500px) {
  .aboutwrapper .page-content .navcontent .profile-card .profile-img2 {
    width: 70%;
    height: 400px;
    margin: 20px 0;
  }
}
.aboutwrapper .page-content .navcontent .profile-card .profile-img3 {
  height: 150px;
  width: 150px;
  background-image: url(/site-imgs/justin-t.JPG);
  background-size: cover;
  border: #534B52 solid 8px;
}
@media (max-width: 500px) {
  .aboutwrapper .page-content .navcontent .profile-card .profile-img3 {
    width: 70%;
    height: 400px;
    margin: 20px 0;
  }
}
.aboutwrapper .page-content .navcontent .profile-card .profile-img4 {
  height: 150px;
  width: 150px;
  background-image: url(/site-imgs/jason-a.JPG);
  background-size: cover;
  border: #534B52 solid 8px;
}
@media (max-width: 500px) {
  .aboutwrapper .page-content .navcontent .profile-card .profile-img4 {
    width: 70%;
    height: 400px;
    margin: 20px 0;
  }
}
.aboutwrapper .page-content .navcontent .profile-card .profile-img5 {
  height: 150px;
  width: 150px;
  background-image: url(/site-imgs/jay-w.JPG);
  background-size: cover;
  border: #534B52 solid 8px;
}
@media (max-width: 500px) {
  .aboutwrapper .page-content .navcontent .profile-card .profile-img5 {
    width: 70%;
    height: 400px;
    margin: 20px 0;
  }
}
.aboutwrapper .page-content .navcontent .profile-card .profile-img6 {
  height: 150px;
  width: 150px;
  background-image: url(/site-imgs/brandon-g.JPG);
  background-size: cover;
  border: #534B52 solid 8px;
}
@media (max-width: 500px) {
  .aboutwrapper .page-content .navcontent .profile-card .profile-img6 {
    width: 70%;
    height: 400px;
    margin: 20px 0;
  }
}
.aboutwrapper .page-content .navcontent .profile-card .profile-img7 {
  height: 150px;
  width: 150px;
  background-image: url(/site-imgs/dak-h.JPG);
  background-size: cover;
  border: #534B52 solid 8px;
}
@media (max-width: 500px) {
  .aboutwrapper .page-content .navcontent .profile-card .profile-img7 {
    width: 70%;
    height: 400px;
    margin: 20px 0;
  }
}
.aboutwrapper .page-content .navcontent .profile-card .profile-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}
.aboutwrapper .page-content .navcontent .profile-card .profile-title h3 {
  font-size: 2rem;
  padding-bottom: 9px;
  text-align: center;
}
@media (max-width: 500px) {
  .aboutwrapper .page-content .navcontent .profile-card .profile-title h3 {
    font-size: 3rem;
  }
}
.aboutwrapper .page-content .navcontent .profile-card .profile-title h4 {
  font-size: 1.5rem;
  padding-bottom: 9px;
  text-align: center;
}
@media (max-width: 500px) {
  .aboutwrapper .page-content .navcontent .profile-card .profile-title h4 {
    font-size: 2rem;
  }
}
.aboutwrapper .page-content .navcontent .profile-card .profile-title p {
  font-size: 1.5rem;
  width: 90%;
  padding-bottom: 9px;
  text-align: center;
}
@media (max-width: 500px) {
  .aboutwrapper .page-content .navcontent .profile-card .profile-title p {
    font-size: 1.8rem;
  }
}
/* end of wrapper*/
html {
  font-size: 62.5%;
  font-family: 'Rufina', serif;
}
