/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-size: 62.5%;
  font-family: 'Cinzel', serif;
}
h1 {
  font-size: 5vw;
}
h2 {
  font-size: 7vw;
}
h3 {
  font-size: 3.5vw;
}
h4 {
  font-size: 2vw;
}
h5 {
  font-size: 1.5vw;
}
p {
  font-size: 1.5vw;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7395ae;
  height: 3.5rem;
  width: 100%;
  font-size: 2rem;
}
header {
  position: fixed;
  padding: 0 0.25% 0 1%;
  width: 100%;
  background-color: #7395ae;
  background: linear-gradient(to top, #7395ae, #d4dee6);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #d3d8df;
}
@media (max-width: 500px) {
  header {
    padding-top: 5%;
    flex-direction: column;
    border-bottom: none;
    padding: 0;
  }
}
header .logo-img-container {
  display: flex;
  justify-content: flex-start;
  border: 1px solid lightcoral;
}
header .logo-img-container .logo-img {
  width: 30%;
  text-align: right;
}
@media (max-width: 500px) {
}
header .logo-img-container .logo {
  border: 1px solid lightcoral;
  width: 70%;
  align-items: flex-start;
}
header .logo-img-container .logo h3 {
  font-size: 2rem;
  text-align: left;
}
@media (max-width: 500px) {
  header .logo-img-container .logo {
    text-align: center;
    width: 80%;
    justify-content: center;
    border-bottom: 1px solid #d3d8df;
    padding-bottom: 2%;
    padding-top: 3%;
    padding-left: 4%;
  }
}
header nav {
  width: 68%;
  padding-right: 2%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media (max-width: 500px) {
  header nav {
    border-bottom: 1px solid #d3d8df;
    flex-direction: column;
    width: 80%;
    justify-content: center;
  }
}
header nav a {
  color: #5D5c61;
  margin: 1rem;
  text-decoration: none;
  font-size: 1.2rem;
}
a:hover {
  color: white;
  font-weight: bold;
  text-decoration: underline;
}
.top-spacer {
  height: 7rem;
  color: white;
}
@media (max-width: 500px) {
  .top-spacer {
    height: 16rem;
  }
}
.main-container {
  padding: 1rem;
  border-radius: 10px;
  width: 90%;
  margin: 0 auto;
  background: linear-gradient(to bottom, #d0862c, #faf2e7);
  display: flex;
  align-items: center;
}
.main-container .headline {
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
@media (max-width: 500px) {
  .main-container .headline {
    flex-direction: column;
    align-items: center;
  }
}
.main-container .headline .headline-text {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .main-container .headline .headline-text {
    width: 80%;
    padding-bottom: 4%;
  }
}
.main-container .headline .tagline {
  display: flex;
  flex-direction: column;
}
.main-container .headline .tagline h1 {
  color: #534B52;
}
.main-container .headline .tagline .tag-1 {
  text-align: left;
}
.main-container .headline .tagline .tag-2 {
  text-align: right;
}
@media (max-width: 500px) {
  .main-container .headline .tagline {
    align-items: center;
  }
}
.main-container .headline .sub-headers {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.main-container .headline .sub-headers .sub-header-1 h4 {
  text-align: left;
  margin: 1rem;
  color: #534B52;
}
.main-container .headline .sub-headers .sub-header-2 h4 {
  text-align: center;
  margin: 1rem;
  color: #534B52;
}
.main-container .headline .sub-headers .sub-header-3 h4 {
  text-align: right;
  margin: 1rem;
  color: #534B52;
}
@media (max-width: 500px) {
  .main-container .headline .sub-headers {
    display: none;
  }
}
.main-container .headline .main-img {
  width: 45%;
}
.main-container .headline .main-img img {
  width: 100%;
  border-radius: 8px;
}
@media (max-width: 500px) {
  .main-container .headline .main-img {
    width: 80%;
  }
}
.main-blurb {
  margin: 1 1rem 0.5rem 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  font-style: italic;
  border-top: 2.5px solid #7395ae;
  border-bottom: 2.5px solid #7395ae;
}
.main-blurb h4 {
  width: 70%;
  font-size: 1.8rem;
}
.button-container {
  margin: 4%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.button-container button {
  font-size: 2.4rem;
  background: linear-gradient(to bottom, #2F4F4F, #696969);
  color: #d3d8df;
  border-radius: 12px;
  padding: 2%;
}
.button-container button:hover {
  background-color: #a3baca;
  color: #4b5768;
}
.contact-info {
  text-align: center;
  padding-left: 2%;
}
@media (max-width: 500px) {
  .contact-info h4 {
    font-size: 150%;
  }
}
.contact-info h5 {
  margin: 1rem 0 0.5rem 0;
}
@media (max-width: 500px) {
  .contact-info h5 {
    font-size: 120%;
  }
}
.about-main .about-headline-container {
  text-align: center;
  margin-top: 2%;
}
.about-main .about-cards-container {
  padding: 1%;
  margin: 2% auto;
  width: 80%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.about-main .about-cards-container .about-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  width: 20rem;
  padding: 0.75rem;
  border-radius: 8px;
  margin: 1.5rem;
  border-radius: 10px;
  box-shadow: 2px 4px 5px #534B52;
}
.about-main .about-cards-container .about-card h5 {
  margin: 3% 0.5% 3% 0.5%;
  padding: 1%;
  font-size: 2.2rem;
  font-weight: bold;
}
.about-main .about-cards-container .about-card p {
  font-size: 1.75rem;
  padding: 1%;
  color: #534B52;
}
.about-main .about-cards-container .about-card img {
  width: 97%;
  border-radius: 8px;
  padding: 0.5rem;
}
.tabs-container {
  padding: 0.5rem;
  width: 65%;
  margin: 0 auto 4%;
  display: flex;
  border-radius: 10px;
  overflow: hidden;
}
.tabs-container .tabs {
  width: 100%;
  background-color: #b4c6d3;
  border-radius: 10px;
  box-shadow: 2px 4px 5px #534B52;
  padding: 2%;
}
.tabs-container .tabs .tabs-content {
  border-top: 1px solid black;
  width: 80%;
  display: flex;
  justify-content: center;
  padding: 2%;
}
.tabs-container .tabs .a-tab {
  display: none;
  width: 85%;
}
.tabs-container .tabs .a-tab .tab-item-text p {
  color: #534B52;
  font-size: 150%;
}
.tabs-container .tabs .tab-item-selected {
  display: block;
}
.tabs-container .tabs .tab-headers {
  display: flex;
  width: 80%;
}
.tabs-container .tabs .tab-headers h4 {
  font-size: 1.3rem;
}
.tabs-container .tabs .tab-link {
  display: flex;
  align-items: center;
  height: 4rem;
  background-color: #577c97;
  color: white;
  padding: 0 3rem 0 1rem;
  border-right: 4px solid #b4c6d3;
  cursor: pointer;
}
.tabs-container .tabs .tab-link:hover {
  background-color: #7395ae;
}
.tabs-container .tabs .tab-link-selected {
  background-color: white;
  color: black;
}
.tabs-container .tabs .tab-link-selected:hover {
  background-color: #7395ae98;
}
.outer-tabs-container {
  width: 100%;
  margin: 0 auto;
  margin-top: 3%;
  display: block;
}
.outer-tabs-container .learn-how {
  width: 80%;
  text-align: center;
  margin-bottom: 0;
}
