/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
h1 {
  font-size: 4.25rem;
}
h2 {
  font-size: 3.25rem;
}
h3 {
  font-size: 2.5rem;
}
h4 {
  font-size: 1.75rem;
}
h5 {
  font-size: 1.25rem;
  margin: 0.5rem 0;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7395ae;
  height: 2rem;
  width: 100%;
}
header {
  padding: 5px;
  width: 100%;
  position: fixed;
  background-color: #7395ae;
  display: flex;
  justify-content: space-between;
}
header .logo {
  width: 30%;
  margin-left: 5px;
  display: flex;
  align-items: center;
}
header nav {
  width: 68%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header nav a {
  color: #5D5c61;
  margin: 1rem;
  text-decoration: none;
  font-size: 1.3rem;
}
a:hover {
  color: white;
  font-weight: bold;
  text-decoration: overline;
}
.main-container {
  margin-bottom: 2rem;
}
.main-container .headline {
  padding-top: 2.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: linear-gradient(to bottom, #7395ae, white);
}
.main-container .headline .headline-text {
  padding: 2rem;
  width: 44%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main-container .headline .tagline {
  padding: 0rem;
  display: flex;
  flex-direction: column;
}
.main-container .headline .tagline h1 {
  color: #d3d8df;
}
.main-container .headline .tagline .tag-1 {
  text-align: left;
}
.main-container .headline .tagline .tag-2 {
  text-align: right;
}
.main-container .headline .sub-headers {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.main-container .headline .sub-headers .sub-header-1 h4 {
  text-align: left;
  margin: 1rem;
  color: #534B52;
}
.main-container .headline .sub-headers .sub-header-2 h4 {
  text-align: center;
  margin: 1rem;
  color: #534B52;
}
.main-container .headline .sub-headers .sub-header-3 h4 {
  text-align: right;
  margin: 1rem;
  color: #534B52;
}
.main-container .headline .main-img {
  width: 45%;
  height: 99%;
}
.main-container .headline .main-img img {
  width: 100%;
}
.main-blurb {
  margin: 0 1rem 0.5rem 1rem;
  display: flex;
  justify-content: center;
  font-style: italic;
  border-top: 2.5px solid #7395ae;
  border-bottom: 2.5px solid #7395ae;
  padding: 1rem;
}
.contact-info {
  margin: 1rem;
}
.contact-info h4 {
  margin: 1rem 0 0.5rem 0;
}
.profiles-container {
  display: flex;
  justify-content: space-evenly;
}
.profiles-container .profile {
  border: 1px solid #7395ae;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.profiles-container .profile h4 {
  margin: 1rem 0;
}
.profiles-container .profile p {
  margin-bottom: 0.5rem;
}
.profiles-container .profile button {
  margin-bottom: 0.5rem;
}
.about-main .about-headline-container {
  margin: 1.5rem auto;
}
.about-main .about-cards-container {
  width: 98%;
  display: flex;
  flex-flow: wrap;
}
.about-main .about-cards-container .about-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  padding: 0.75rem;
  border-radius: 8px;
  margin: 1.5rem;
}
.about-main .about-cards-container .about-card img {
  width: 100%;
  border-radius: 8px;
  padding: 0.5rem;
}
