.aboutwrapper {
    width: 100%;
    height: 100%;
    min-height: 100%;
    background-color: black;

    .top-bar {
        width: 100vw;
        height: 150px;
        background-color: #ffffff88;
        display: flex;

        @media @mobile {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .logo-text {
            width: 18%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            
            h1{
                font-size: 3.5rem;
                font-family: 'Work Sans', serif;
                padding-left: 70px;
                text-decoration: underline;
                
                @media @mobile {
                    padding: 0;
                    margin-top: 20px;
                }
            }
        }

        .links-container {
            width: 80%;
            height: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;

            @media @mobile {
                justify-content: space-between;
                width: 100%;
            }
        
            a {
                font-size: 2.4rem;
                text-decoration: none;
                color: black;
                @media @mobile {
                    padding: 0 20px;
                }
            
                &:hover {
                    color: @darkgray;
                }
            }
            
        }


    }
}