

.about-main {
    .about-headline-container {
        text-align: center;
        margin-top: 2%;
    }    
}

.about-cards-container {
    padding: 1%;
    margin: 2% auto;
    width: 80%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    
    .about-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid black;
        width: 25rem;
        padding: .75rem;
        border-radius: 8px;
        margin: 1.5rem;
        border-radius: 10px;
        box-shadow: 2px 4px 5px @Dark-Gray;
        h5 {
            margin: 3% .5% 3% .5%;
            padding: 1%;
            font-size: 2.2rem;
            font-weight: bold;
        }
        p {
            font-size: 1.75rem;
            padding: 1%;
            color: @Dark-Gray;
        }
        img {
            width: 97%;
            // border: 1px solid black;
            border-radius: 8px;
            padding: .5rem;
        }
        button {
            font-size: .85vw;
            font-family: inherit;
            height: 2vw;
            width: 10vw;
            background: linear-gradient(to top, @nav-background, lighten(@nav-background, 30));
            color: @Dark-Gray;
            border-radius: 12px;
            padding: 3%;
            a {
                text-decoration: none;
            }
            &:hover {
                background: whitesmoke;
                color: darken(@Light-Gray, 50);
                font-weight: bold;
                cursor: pointer;
            }
        }
    }
}



