header {
    padding: 1% 1% 1.5% 1%;
    width: 98%;
    // position: fixed;
    background-color: @nav-background;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid @Light-Gray;
    @media(max-width: 500px) {
        padding-top: 3%;
        flex-direction: column;
        
    }
    .logo {
        width: 30%;
        margin-left: 5px;
        display: flex;
        align-items: center;
        @media (max-width: 500px) {
            text-align: center;
            width: 80%;
            justify-content: center;
            border-bottom: 1px solid @Light-Gray;
            padding-bottom: 2%;
        }
    }
    nav {
        width: 68%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        @media (max-width: 500px) {
            border-bottom: 1px solid @Light-Gray;
            flex-direction: column;
            width: 80%;
            justify-content: center;
        }
        a {
            color: @navigation-text;
            margin: 1rem;
            text-decoration: none;
            font-size: 1.3rem;
            
            
        }    
    }
   
}

a:hover {
    color: white;
    font-weight: bold;
    text-decoration: overline;
}

.main-container{
    border: 1px solid red;
    margin-bottom: 2rem;
    .headline {
        
        border:  2px solid yellow;;
        padding-top: 2.5rem;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background: linear-gradient(to bottom, @nav-background, white);
        @media (max-width: 500px) {
            flex-direction: column;
            align-items: center;
        }

        .headline-text{
            width: 45%;
            border: 2px solid @Dark-Gray;            
            width: 44%;
            display:flex;
            flex-direction: column;
            justify-content: space-between;
            @media (max-width: 500px) {
            width: 80%;
            }    
        }
        .tagline{
            border: 1px solid red;
            display: flex;
            flex-direction: column;
            h1 {
                color: @Dark-Gray;
            }
            .tag-1 {
                text-align: left;
            }
            .tag-2 {
                text-align: right;
            }
            @media(max-width: 500px) {
                align-items: center;
            }
            
        }
        .sub-headers {
            border: 1px solid red;
            display:flex;
            flex-direction: column;
            justify-content: space-evenly;
            .sub-header-1 {
                h4 {
                    text-align: left;
                    margin: 1rem;
                    color: @Dark-Gray;
                }
            }
            .sub-header-2 {
                h4 {
                    text-align: center;
                    margin: 1rem;
                    color: @Dark-Gray;
                }
            }
            .sub-header-3 {
                h4 {
                    text-align: right;
                    margin: 1rem;
                    color: @Dark-Gray;
                }
            }
            @media (max-width: 500px) {
                display: none;
            }
        }
        .main-img {
            border: 2px solid @Dark-Gray;
            width: 45%;
            // height: 99%;
            img{
                width: 100%;
            }
            @media (max-width: 500px) {
                width: 80%;
            } 
        }
    }
}

.main-blurb {
    margin: 0 1rem .5rem 1rem;
    display: flex;
    justify-content: center;
    font-style: italic;
    border-top: 2.5px solid @nav-background;
    border-bottom: 2.5px solid @nav-background;
    padding: 1rem;
}

.contact-info {
    margin: 1rem;
    h4 {
        margin: 1rem 0 .5rem 0;
    }
}




