//homepage

.title {

    display: flex;
    justify-content: center;
    
    }
    
    h1{
      font-size: 3rem;
      padding-bottom: 20px;
      
    }
    .image1{
        display: flex;
        justify-content: center;
        
          

        img {
            max-width:70%;
            height: auto;
            display: block;
            padding-bottom: 20px;
        }
    }
    
    
    
    
    
    .maincontent {
    
    display: flex;
    justify-content: center;
    padding-bottom: 20px
    }
    
    
    .left {
        margin: 10px;
        width: 35%;
        h3{
            font-size: 1.1rem;
            font-weight: bold;
            padding-bottom: 5px;
        }
    }
    
    .right {
        margin: 10px;
        width: 35%;
        h3{
            font-size: 1.1rem;
            font-weight: bold;
            padding-bottom: 5px;
        }
    }	
    
    
    .btn{
        display: flex;
        justify-content: center;
    }
    
    button{
    background-color: black; 
    border: none;
    color: white;
    padding: 5px 15px;
    margin-bottom: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5rem;
    border-radius: 4px;
    transition-duration: 0.4s;
    }


