

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row-reverse;
    

    @media @mobile{
        flex-direction: column-reverse;
        
        
    }

   
    a {
        text-decoration: none;
        font-size: 1.4rem;
        font-weight: bold;
        padding-bottom: 20px;
        padding-top: 10px;
   
        @media @mobile {
            padding: 5px;
            border-top: 2px solid black;
            border-width: 100%
            
        }
    }
   }
   
   
   
   