header {
    padding: 5px;
    
    background-color: @nav-background;
    display: flex;
    justify-content: space-between;
    .logo {
        width: 30%;
        margin-left: 5px;
        display: flex;
        align-items: center;
    }
    nav {
        
        width: 68%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        a {
            color: @navigation-text;
            margin: 1rem;
            text-decoration: none;
            font-size: 1.3rem;
            
        }    
    }
}

a:hover {
    color: white;
    font-weight: bold;
    text-decoration: overline;
}