

nav {
    display: flex;
    justify-content: flex-end;
    
   
    a {
        text-decoration: none;
        font-size: 1.4rem;
        font-weight: bold;
        padding: 20px;
   
       //  @media @mobile {
       //      padding: 10px 30px;
       //  }
    }
   }
   
   
   
   