.tabs-container {
    padding: 5rem;
    border: 1px solid black;
    width: 70%;
    margin: 45px auto;
    display: flex;
    border: 1px solid @navigation-text;
    box-shadow: 2px 4px 5px @footer-bg;
    border-radius: 10px;
    overflow: hidden;
    .tabs {
        width: 100%;
        .tabs-content {
          border: 1px solid black;  
          width: 100%;
          height: 3rem;
          display: flex;
          justify-content: center;
          padding-top: 60px;
        }
        .a-tab {
            display: none;
            width: 75%;
            .tab-item-text {
                p {
                    color: @Dark-Gray;
                }
            }
        }
        .tab-item-selected {
            display: block;
            p {
                color: green;
            }
        }
        .tab-headers {
            border: 1px solid black;
            display: flex;
            width: 100%;
            justify-content: space-evenly;
        }
        .tab-link {
            width: 30%;
            border-right: 4px solid white;
            background-color: @Light-Gray;
            padding: 0 3rem 0 1rem;
            cursor: pointer;
            &:hover {
                background-color: @nav-background;
            }
        }
        .tab-link-selected {
            // z-index: 2;
            background-color: lightblue;
            &:hover {
                background-color:  #7395ae98;
            }
        }
    
    } //<--- .tabs
} 
